/* Force width: auto on mobile images */
@import url('https://fonts.googleapis.com/css?family=Exo+2:300');

body {
  background-color: #efefef;
}

.md-header, [data-md-color-accent=indigo] .md-header {
  background-color: #000;
}

h1, h2, .md-header-nav__title {
  font-family: 'Exo 2', 'Roboto', sans-serif;
}

.md-header-nav__title {
  font-size: 2em;
}